<ul class="list-unstyled">
  <% tasks.each do |task| %>
  <li class="media mb-3">
    <div class="media-body">
      <div>
        <p>id:<%= link_to task.id, task %></p>
        <p><%= task.status %> &gt; <%= task.content %></p>
      </div>
      
      <div>
        <% if current_user == task.user %>
          <%= link_to "Delete", task, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
        <% end %>
      </div>
    </div>
  </li>
  <% end %>
  
  <%= paginate tasks %>
</ul>